<a href="https://colab.research.google.com/github/NileshCT/Machine_Learning_Models/blob/main/Decision_Tree_classification_modelling_weatheraus_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [50]:
#Importing dataset
df=pd.read_csv("/content/drive/MyDrive/weatherAUS.csv.zip")

In [51]:
#Dropping Date column from table.
df.drop(["Date"],axis=1,inplace=True)

In [52]:
#Exploring numeric feature from dataframe
numeric_feature=df.describe(include=float).columns
numeric_feature

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [53]:
#Exploring all categorical_feature from dataframe.
categorical_feature=df.describe(include=object).columns
categorical_feature

Index(['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday',
       'RainTomorrow'],
      dtype='object')

In [54]:
#Creating new dataframe by cloning df dataframe.
df1=df.copy()

In [55]:
#Exploring all null values from target feature.
a=[(i,index) for i,index in enumerate(df["RainTomorrow"]) if pd.isna(index)]
result = pd.DataFrame(a).set_index(0)

**Extracting inferencial data**

In [56]:
#Converting list of nan value target variable into dataframe.
t=pd.DataFrame(a).set_index(0)
t.head()

      1
0
14  NaN
283 NaN
435 NaN
437 NaN
443 NaN

In [9]:
t.shape

(3267, 1)

In [ ]:
index_nan=t.index.tolist()
index_nan

In [59]:
#Exploring the inference dataset.
df1_inference=df1.iloc[index_nan]
df1_inference

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,WNW,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
283,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,WNW,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,No,NaN
435,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,No,NaN
437,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,E,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,No,NaN
443,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,SSW,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144955,Uluru,22.5,37.7,0.0,NaN,NaN,SE,50.0,SE,ESE,...,22.0,11.0,1012.6,1009.6,NaN,NaN,28.8,37.2,No,NaN
145091,Uluru,12.3,19.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,62.0,1016.8,1014.1,8.0,8.0,15.6,18.9,No,NaN
145092,Uluru,14.2,18.7,NaN,NaN,NaN,NaN,NaN,W,NaN,...,81.0,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5,NaN,NaN
145335,Uluru,13.5,NaN,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,23.0,11.0,1013.7,1008.4,NaN,NaN,25.2,34.4,No,NaN
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [60]:
#Creating list of all non null values in the target variable for spliting in train and test data.
a=[]
for i in range(df1.shape[0]):
  if i not in index_nan:
    a.append(i)

**Separating training data**

In [61]:
df_train_data=df.iloc[a]
df_train_data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,E,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

**Missing values tratment for known data**

In [63]:
df_train_data=df_train_data.fillna(method="ffill",axis=0).fillna(method="bfill",axis=0)
df_train_data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,12.0,12.3,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,2.0,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,12.0,12.3,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,7.0,2.0,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,12.0,12.3,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,7.0,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,12.0,12.3,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,7.0,8.0,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,12.0,12.3,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,6.4,10.7,E,31.0,ESE,E,...,59.0,27.0,1024.7,1021.2,3.0,2.0,9.4,20.9,No,No
145455,Uluru,2.8,23.4,0.0,6.4,10.7,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,3.0,2.0,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,6.4,10.7,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,3.0,2.0,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,6.4,10.7,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,3.0,2.0,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,6.4,10.7,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

**known data splitting for further scaling. i am not appling the scaling on the target feature**

In [64]:
x_training=df_train_data.drop(["RainTomorrow"],axis=1)
y_training=df_train_data["RainTomorrow"]

**lebal encoding on x_known data**

In [65]:
#Label encoding on known data
from sklearn import preprocessing
L_Encoder=preprocessing.LabelEncoder()
x_training["Location"]=L_Encoder.fit_transform(x_training["Location"])

In [66]:
x_training["Location"].unique()

array([ 2,  4, 10, 11, 21, 24, 26, 27, 30, 34, 37, 38, 42, 45, 47,  9, 40,
       23,  5,  6, 35, 19, 18, 20, 25, 33, 44, 12,  7,  8, 14, 39,  0, 22,
       28, 48,  1, 46, 29, 32, 31, 36, 43, 15, 17,  3, 13, 16, 41])

In [67]:
x_training["WindGustDir"]=L_Encoder.fit_transform(x_training["WindGustDir"])

In [68]:
x_training["WindDir9am"]=L_Encoder.fit_transform(x_training["WindDir9am"])

In [69]:
x_training["WindDir3pm"]=L_Encoder.fit_transform(x_training["WindDir3pm"])

In [70]:
x_training["RainToday"]=L_Encoder.fit_transform(x_training["RainToday"])

In [71]:
x_training.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2,13.4,22.9,0.6,12.0,12.3,13,44.0,13,14,...,24.0,71.0,22.0,1007.7,1007.1,8.0,2.0,16.9,21.8,0
1,2,7.4,25.1,0.0,12.0,12.3,14,44.0,6,15,...,22.0,44.0,25.0,1010.6,1007.8,7.0,2.0,17.2,24.3,0
2,2,12.9,25.7,0.0,12.0,12.3,15,46.0,13,15,...,26.0,38.0,30.0,1007.6,1008.7,7.0,2.0,21.0,23.2,0
3,2,9.2,28.0,0.0,12.0,12.3,4,24.0,9,0,...,9.0,45.0,16.0,1017.6,1012.8,7.0,8.0,18.1,26.5,0
4,2,17.5,32.3,1.0,12.0,12.3,13,41.0,1,7,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0

**scaling on x_known data**

In [72]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
model=scalar.fit(x_training)
x_training1=model.transform(x_training)
print(x_training1)

[[-1.5270045   0.18911965 -0.0462377  ... -0.00962269  0.00708313
  -0.54029965]
 [-1.5270045  -0.74794986  0.26286199 ...  0.03643231  0.36734324
  -0.54029965]
 [-1.5270045   0.11103052  0.3471619  ...  0.61979554  0.20882879
  -0.54029965]
 ...
 [ 1.21224943 -1.34142722  0.29096196 ... -0.93072252  0.39616405
  -0.54029965]
 [ 1.21224943 -1.06030637  0.51576173 ... -0.6850959   0.62673052
  -0.54029965]
 [ 1.21224943 -0.68547856  0.52981172 ... -0.28595264  0.61232012
  -0.54029965]]

In [73]:
x_training2=pd.DataFrame(x_training1)

In [76]:
#splitting data into train test 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x_training2,y_training,random_state=0,test_size=0.20)

In [77]:
#use of DecisionTreeClassifier for classification task 
from sklearn.tree import DecisionTreeClassifier 
model = DecisionTreeClassifier() 
decision_tree=model.fit (X_train, y_train) 
predictions_train = model.predict(X_train)

In [78]:
#Measure the performance of the decision tree model
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_train, predictions_train))
print(confusion_matrix(y_train, predictions_train))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00     88249
         Yes       1.00      1.00      1.00     25505

    accuracy                           1.00    113754
   macro avg       1.00      1.00      1.00    113754
weighted avg       1.00      1.00      1.00    113754

[[88249     0]
 [    4 25501]]

In [79]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_train,predictions_train)
score

0.9999648364013574

In [80]:
predictions_test = model.predict(X_test)

In [81]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,predictions_test)
score

0.7862794050423714

**predict_proba method ok known data**

In [82]:
# probability of getting output as 0 - no rain
model.predict_proba(X_train)[:,0]

array([1., 1., 1., ..., 1., 1., 0.])

In [83]:
# probability of getting output as 0 - rain
model.predict_proba(X_train)[:,1]

array([0., 0., 0., ..., 0., 0., 1.])

In [88]:
!pip install joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (1.1.1)

In [100]:
# import joblib: This line imports the joblib library which provides utilities for saving and loading Python objects.

# filename = 'WeatherAUS_model.sav': This line defines a variable called filename and assigns it the value 'WeatherAUS_model.sav'. This value represents the name of the file where the model will be saved.

# joblib.dump(model, filename): This line uses the dump function from the joblib library to save the model object to a file with the name specified by the filename variable.

# In summary, this code saves a machine learning model called model to a file named 'WeatherAUS_model.sav' using the joblib library.
import joblib
# save the model to disk
filename = 'Weather_model.sav'
joblib.dump(model, filename)

['Weather_model.sav']

In [101]:
#Calling new model saved file and load data using joblib.
weatherAUS_loaded=joblib.load("/content/WeatherAUS_model.sav")

In [102]:
weatherAUS_loaded.predict(X_test)

array(['Yes', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [33]:
#df1_inference.head(10)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,WNW,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
283,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,WNW,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,No,NaN
435,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,No,NaN
437,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,E,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,No,NaN
443,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,SSW,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,No,NaN
452,Albury,17.2,NaN,0.0,NaN,NaN,NaN,NaN,NE,E,...,54.0,28.0,1024.6,1020.7,NaN,NaN,20.6,29.2,No,NaN
455,Albury,14.4,NaN,0.0,NaN,NaN,NaN,NaN,SE,SSE,...,50.0,35.0,1018.5,1016.2,6.0,NaN,17.1,25.5,No,NaN
464,Albury,8.8,NaN,0.0,NaN,NaN,NaN,NaN,SSE,SSE,...,69.0,35.0,1023.7,1023.0,NaN,1.0,12.5,21.8,No,NaN
611,Albury,1.2,9.6,0.0,NaN,NaN,NaN,NaN,NaN,N,...,94.0,71.0,1019.8,1017.0,8.0,8.0,5.5,9.2,No,NaN
983,Albury,4.0,NaN,0.2,NaN,NaN,NaN,NaN,W,WSW,...,79.0,47.0,1015.9,1013.8,NaN,NaN,9.3,15.6,No,NaN

**Spliting data of inferenceial data**

In [34]:
# x_inference=df1_inference.drop(["RainTomorrow"],axis=1)
# y_inference=df1_inference["RainTomorrow"]

In [35]:
# x_inference.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3267 entries, 14 to 145459
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       3267 non-null   object
 1   MinTemp        2419 non-null   float64
 2   MaxTemp        2328 non-null   float64
 3   Rainfall       1412 non-null   float64
 4   Evaporation    1320 non-null   float64
 5   Sunshine       1248 non-null   float64
 6   WindGustDir    2271 non-null   object
 7   WindGustSpeed  2274 non-null   float64
 8   WindDir9am     2714 non-null   object
 9   WindDir3pm     2817 non-null   object
 10  WindSpeed9am   2848 non-null   float64
 11  WindSpeed3pm   2835 non-null   float64
 12  Humidity9am    2387 non-null   float64
 13  Humidity3pm    2370 non-null   float64
 14  Pressure9am    2216 non-null   float64
 15  Pressure3pm    2220 non-null   float64
 16  Cloud9am       1036 non-null   float64
 17  Cloud3pm       1003 non-null   float64
 18  Temp9am        2404 non-null   float64
 19  Temp3pm        2384 non-null   float64
 20  RainToday      1412 non-null   object
dtypes: float64(16), object(5)
memory usage: 561.5+ KB

In [36]:
# #Label encoding on known data
# from sklearn import preprocessing
# L_Encoder=preprocessing.LabelEncoder()
# x_inference["Location"]=L_Encoder.fit_transform(x_inference["Location"])

In [37]:
# x_inference["Location"].unique()

array([ 2,  4, 10, 11, 20, 23, 25, 26, 29, 31, 34, 35, 39, 42, 44,  9, 37,
       22,  5,  6, 32, 18, 19, 24, 30, 41, 12,  7,  8, 14, 36,  0, 21, 27,
       45,  1, 43, 28, 33, 40, 15, 17,  3, 13, 16, 38])

In [38]:
# x_inference["WindGustDir"]=L_Encoder.fit_transform(x_inference["WindGustDir"])

In [39]:
# x_inference["WindDir9am"]=L_Encoder.fit_transform(x_inference["WindDir9am"])

In [40]:
# x_inference["WindDir3pm"]=L_Encoder.fit_transform(x_inference["WindDir3pm"])

In [41]:
# x_inference["RainToday"]=L_Encoder.fit_transform(x_inference["RainToday"])

**Missing value treatment of inference data**

In [42]:
# x_inference=x_inference.fillna(method="bfill",axis=0).fillna(method="ffill",axis=0)

**Scaling on inferencial data**

In [43]:
# from sklearn.preprocessing import StandardScaler
# scalar=StandardScaler()
# model=scalar.fit(x_inference)
# x_inference1=model.transform(x_inference)
# print(x_inference1)

[[-1.83604947 -0.37644162  0.42089382 ...  0.06989278  0.49797963
  -1.41568169]
 [-1.83604947 -1.22707146  1.92729804 ... -0.84064631 -0.86315775
  -1.41568169]
 [-1.83604947  1.63280473  1.92729804 ...  1.68536535  1.97747677
  -1.41568169]
 ...
 [ 1.05504262  0.47418823 -0.42556188 ...  0.17269558 -0.38971866
   0.82133504]
 [ 1.05504262  0.371526   -0.42556188 ...  1.43570141  2.11063152
  -1.41568169]
 [ 1.05504262  0.57685045 -0.42556188 ... -0.06228225  0.11331037
  -1.41568169]]

In [44]:
# x_inference2=pd.DataFrame(x_inference1)

In [45]:
# x_inference2

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,-1.836049,-0.376442,0.420894,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-0.223650,0.968545,...,1.174040,-0.967107,-1.004002,-1.233469,-1.088440,0.415128,0.564497,0.069893,0.497980,-1.415682
1,-1.836049,-1.227071,1.927298,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-1.758660,0.968545,...,-0.668638,-0.153482,0.080009,-0.096915,0.220424,0.415128,0.564497,-0.840646,-0.863158,-1.415682
2,-1.836049,1.632805,1.927298,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-1.566784,0.563782,...,-0.885424,-0.908991,-0.768348,0.338062,0.249837,0.415128,-1.376370,1.685365,1.977477,-1.415682
3,-1.836049,1.544809,1.912951,-0.37223,0.232543,-1.852555,1.041038,-0.911285,0.160102,-1.864798,...,-1.318995,0.137098,-0.862610,-0.377546,-0.853138,0.415128,1.340844,1.288840,1.918297,-1.415682
4,-1.836049,0.664847,1.281696,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-0.031774,0.361400,...,-0.885424,-0.444062,-1.098264,-0.363514,-0.338417,0.415128,-1.376370,0.583907,1.459653,-1.415682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3262,1.055043,1.691469,2.300312,-0.37223,1.022158,0.301435,-0.286912,0.448463,-0.031774,-1.460034,...,0.740469,-3.001169,-1.993752,-0.826555,-0.956083,1.090874,1.340844,1.964402,2.524891,-1.415682
3263,1.055043,0.195534,-0.368175,-0.37223,1.022158,0.301435,1.041038,0.448463,1.311360,1.373308,...,-1.318995,0.311447,0.409925,-0.237230,-0.294298,1.090874,1.340844,0.025834,-0.182589,-1.415682
3264,1.055043,0.474188,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,0.735731,1.373308,...,-1.318995,0.427679,0.645580,-0.461735,-0.220766,1.090874,1.340844,0.172696,-0.389719,0.821335
3265,1.055043,0.371526,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,-1.566784,0.563782,...,-1.318995,-2.943053,-1.993752,-0.672208,-1.132558,1.090874,1.340844,1.435701,2.110632,-1.415682
3266,1.055043,0.576850,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,-1.374907,-1.460034,...,-0.235067,-0.676527,-0.815479,0.239842,0.264543,1.090874,1.340844,-0.062282,0.113310,-1.415682

In [46]:
# x_inference2=pd.DataFrame(x_inference1)

In [47]:
# predictions_infer_test = model.predict(X_test1)

AttributeError: ignored

In [ ]:
# predictions_infer_test1=pd.DataFrame(predictions_infer_test)
# predictions_infer_test1

In [ ]:
# y_pred_test1 = logreg.predict(X_test1)

# y_pred_test1

In [ ]:
# y_pred_test2=pd.DataFrame(y_pred_test1)
# # y_pred_test2
# y_pred_test2

**# probability of getting output as 0 - no rain**

In [ ]:
# # probability of getting output as 0 - no rain

# logreg.predict_proba(X_train1)[:,0]

In [ ]:
# logreg.predict_proba(X_train1)[:,1]

**proba of test_inference data**

In [ ]:
# # probability of getting output as 0 - no rain

# logreg.predict_proba(X_test1)[:,0]

In [ ]:
# logreg.predict_proba(X_test1)[:,1]

In [ ]:
# from sklearn.metrics import accuracy_score
# print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test1, y_pred_test1)))

In [ ]:
# from sklearn.metrics import accuracy_score
# print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_train1, y_pred_train1)))